 <div class="navigation">
      <ul class="navigation-list">
        <li class="nav-btn animate"> <a href="/">HOME</a> </li>
        <li class="nav-btn animate"> <a href="/profile">PROFILE</a> </li>
        <li class="nav-btn animate"> <a href="/login">LOGIN</a> </li>
        <li class="nav-btn animate register-btn"> <a href="/register">REGISTER</a> </li>
      </ul>
    </div>